@import 'compass';
@import 'normalize';

@include establish-baseline;

$main: darkred;

$bg: white;
$bgAlt: $main;
$color: black;
$colorAlt: white;

* {
  @include box-sizing(border-box);
}

html {
  width: 960px;
  height: 100%;
}

body {
  position: relative;
  padding: 10px;
}

.normal {
  color: $color;
  background: $bg;
  a { color: $color; }
}

.alt {
  color: $colorAlt;
  background: $bgAlt;
  a { color: $colorAlt; }
}

a {
  color: $main;
  text-decoration: none;
  cursor: hand;

  &:hover {
    @extend .alt;
    @include border-radius();
  }
}

header {
  h1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

h1 {
  small {
    color: grey;
  }
}

#repo-link {
  float: right;
}

#header {
  @extend .alt;
  padding-right: 0.5em;
  @include border-radius();

  img {
    display: inline-block;
    margin: 10px;
    @include border-radius();
  }

  div {
    float: right;
    text-align: right;

    h1 {
      margin: 0;
      padding-top: 0.5em;
      padding-bottom: 0.2em;
    }

    a {
      display: block;
    }
  }
}

#side {
  @include apply-origin(0,0);
  @include skewY(15deg);

  vertical-align: top;
  width: 20%;
  display: inline-block;
  float: left;
  padding-right: 10px;
  padding-top: 10px;

  h1 {
    color: grey;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;

    li {
      width: 100%;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      text-align: right;

      a {
        @extend .alt;
        width: 100%;
        display: block;
        padding-right: 5px;

        @include border-radius();

        &:hover {
          @extend .normal;
        }
      }
    }
  }
}

#main {
  vertical-align: top;
  width: 80%;
  display: inline-block;
}

#contact {
  padding-top: 100px;
}
