/* general icons for IE7 */
/* line 47, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-"] {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-settings"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf000;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-heart"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf001;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-star"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf002;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-plus"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf003;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-minus"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf004;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-checkmark"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf005;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-remove"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf006;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-mail"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf007;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-calendar"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf008;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-page"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf009;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-tools"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00a;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-globe"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00b;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-home"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00c;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-quote"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00d;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-people"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00e;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-monitor"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00f;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-laptop"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf010;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-phone"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf011;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-cloud"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf012;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-error"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf013;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-right-arrow"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf014;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-left-arrow"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf015;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-up-arrow"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf016;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-down-arrow"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf017;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-trash"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf018;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-add-doc"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf019;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-edit"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01a;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-lock"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01b;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-unlock"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01c;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-refresh"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01d;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-paper-clip"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01e;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-video"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01f;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-photo"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf020;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-graph"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf021;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-idea"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf022;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-mic"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf023;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-cart"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf024;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-address-book"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf025;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-compass"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf026;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-flag"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf027;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-location"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf028;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-clock"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf029;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-folder"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02a;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-inbox"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02b;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-website"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02c;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-smiley"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02d;");
}

/* line 8, ../../sass/foundicons/_settings.scss */
[class*="general foundicon-search"] {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02e;");
}
