---
layout: default
title: Xing Zhou
---

<section class="row" id="main">
  <article class="nine columns" >
    <h1>Most Recent Post</h1>

    <hr />

    <div class="row">
      <section class="twleve columns" id="recent_post">

        {% for post in site.posts limit:1 %}
        <h1>{{post.title}} <a href="{{post.url}}"><small>{{post.date || date_to_long_string }}</small></a></h1>
          <section>
            {{ post.content }}
          </section>
        {% endfor %}
        
      </section>
    </div>
  </article>

  <div class="three columns" id="bio">
    {% capture bio %}
      {% include bio.markdown %}
    {% endcapture %}

    {{ bio | unindent | markdownify }}
  </div>
</section>
