<li>
<a class="has-tip tip-bottom" href="http://github.com/dekom/" title="Github Profile" target="_blank">
  <i class="social foundicon-github"></i>
</a>
</li>

<li>
<a class="has-tip tip-bottom" href="http://www.linkedin.com/pub/xing-zhou/49/a12/650/" title="LinkedIn Profile" target="_blank">
<i class="social foundicon-linkedin"></i>
</a>
</li>

<li>
<a class="has-tip tip-bottom" href="https://plus.google.com/106392354838948275926/" title="Google Plus Profile" target="_blank">
  <i class="social foundicon-google-plus"></i>
</a>
</li>

<li>
<a class="has-tip tip-bottom" href="https://twitter.com/xing__zhou/" title="Twitter Profile" target="_blank">
<i class="social foundicon-twitter"></i>
</a>
</li>

<li>
<a class="has-tip tip-bottom" href="/resume.html" title="Resume">
<i class="social foundicon-torso"></i>
</a>
</li>
