<!DOCTYPE HTML>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />

    <title>Default</title>

    <link rel="stylesheet" href="{{site.foundicons}}/foundation_icons_general/sass/general_foundicons.css" type="text/css" />
    <link rel="stylesheet" href="{{site.foundicons}}/foundation_icons_social/sass/social_foundicons.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">

    <script src="/javascripts/foundation/modernizr.foundation.js" type="text/javascript" charset="utf-8"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <header class="row">
        <div class="twelve columns">
          <div class="fixed contain-to-grid">
            <nav class="top-bar">
              <ul>
                <li class="name has-button"><h1><a href="/">Xing Zhou <i class="general foundicon-smiley"></i></a></h1></li>
                <li class="toggle-topbar"><a href="#"></a></li>
              </ul>
              <section>
                <ul class="right">
                  <li><a href="/posts.html"><i class="general foundicon-page"></i> Posts</a></li>
                  <li><a href="/projects.html"><i class="general foundicon-heart"></i> Projects</a></li>
                </ul>
              </section>
            </nav>
          </div>
        </div>
      </header>

      {{ content }}

      <div class="row">
        <div class="twelve columns">
          <iframe id="soundcloud" width="100%" height="250" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F8788863&amp;auto_play=false&amp;show_artwork=false&amp;color=900"></iframe>
        </div>
      </div>

    <footer class="row">
      <div class="six columns" id="social">
        <ul class="block-grid five-up">
          {% include social.html %}
        </ul>
      </div>

      <div class="six columns" id="attributions">
        <div class="row">

          <div id="code" class="four columns">
            site codebase:
            <ul>
              <li><a href="https://github.com/dekom/xingzhou.me">Github</a></li>
            </ul>
          </div>

          <div id="hosting" class="four columns">
            hosted on:
            <ul>
              <li><a href="http://www.heroku.com/">Heroku</a></li>
            </ul>
          </div>

          <div id="built" class="four columns">
            built using:
            <ul>
              <li><a href="http://jekyllrb.com/">Jekyll</a></li>
              <li><a href="http://compass-style.org/">Compass</a></li>
              <li><a href="http://foundation.zurb.com/">ZURB Foundation</a></li>
              <li><a href="http://www.zurb.com/playground/foundation-icons/">Foundation Icons</a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </footer>
    <!-- Included JS Files (Uncompressed) -->
    <script src="/javascripts/foundation/jquery.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.forms.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.placeholder.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.mediaQueryToggle.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.alerts.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.reveal.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.tooltips.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.topbar.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.tabs.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.navigation.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.accordion.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.orbit.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/javascripts/foundation/jquery.foundation.buttons.js" type="text/javascript" charset="utf-8"></script>

    <script src="/javascripts/foundation/app.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
